* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --purple: #CDB4DB;
  --salmon: #FFC8DD;
  --pink: #FFAFCC;
  --lightBlue: #BDE0FE;
  --blue: #A2D2FF;
}

#pixels {
  display: flex;
  width: 160px;
  flex-wrap: wrap;
}

.pixel {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}